.ng-valid:not(form).ng-touched  {
    border-bottom: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form).ng-touched   {
    border-bottom: 5px solid #a94442; /* red */
  }
  
  .alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  } 
  
  button {
    display: block;
    margin-top: 1rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }