.cart-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    .cart{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-body{
            flex-basis: 50%;
            &-info{
                display: flex;
                gap: 1rem;
            }
        }
        &-cantidad{
            flex-basis: 20%;
        }
        &-buttons{
            flex-basis: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            &-operators{
                display: flex;
                align-items: center;
                gap: 1rem;
                span{
                    border: 1px solid lightblue;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                }
            }
        }
    }
    .cart-sum{
        padding: 1rem;
        &-total{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .cart-btn{
        width: 50%;
        align-self: center;
        border: none;
        border-radius: 0.25rem;
        margin: 0.75rem;
        background-color: black;
        color: whitesmoke;
        cursor: pointer;
        padding: 1rem;
    }
}